
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.custom-row {
    margin: 0px;
    max-width: 100% !important;
}

.custom-columns {
    padding: 0px;
}

.tile-card{
    height: 250px;
    width:100%;
    background-color: #ffffff;
}

.back-button {
    cursor: pointer;
    margin-top: 11px;
    position: absolute;
    width: 30px;
    margin-left: 12px;
}


