.first-row{
    margin-top: 25px;
}

.card-margin{
    margin-bottom: 10px;
}
.addTrack-card{
    text-align: center;
    color: #474747;
    padding-top: 15px;
    background-color: #ffffff;
    width: 80%;
    height: 55px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 3px 2px 10px -4px #7f7f7f;
    -webkit-box-shadow: 3px 2px 10px -4px #7f7f7f;
    -moz-box-shadow: 3px 2px 10px -4px #7f7f7f;
    -o-box-shadow: 3px 2px 10px -4px #7f7f7f;
    transition: 0.25s ease-in-out;
    overflow: auto;
}

.addTrack-card:hover{
    width: 100%;
    height: 55px;
    box-shadow: 4px 6px 35px -14px #7f7f6f;
    -webkit-box-shadow: 4px 6px 35px -14px #7f7f6f;
    -moz-box-shadow: 4px 6px 35px -14px #7f7f6f;
    -o-box-shadow: 4px 6px 35px -14px #7f7f6f;
}

.Track-card{
    color: #474747;
    padding: 11px 15px 5px 15px;
    background-color: #ffffff;
    width: 80%;
    height: 55px;
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 3px 2px 10px -4px #7f7f7f;
    -webkit-box-shadow: 3px 2px 10px -4px #7f7f7f;
    -moz-box-shadow: 3px 2px 10px -4px #7f7f7f;
    -o-box-shadow: 3px 2px 10px -4px #7f7f7f;
    transition: 0.25s ease-in-out;
    overflow: auto;
}

.Track-card:hover{
    width: 100%;
    height: 55px;
    box-shadow: 4px 6px 35px -14px #7f7f6f;
    -webkit-box-shadow: 4px 6px 35px -14px #7f7f6f;
    -moz-box-shadow: 4px 6px 35px -14px #7f7f6f;
    -o-box-shadow: 4px 6px 35px -14px #7f7f6f;
}

.trackCardContent{
    display: inline;
}

.custom-btn{
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0px 10px;
    font-size: 27px !important;
    font-style: bold;
}
.track-card-labels{
    padding-top: 4px;
}
.add-track-pop-window{

    background-color: #FFF;
    position: relative;
    /*margin: 0px auto;*/
    margin-top: 3%;
    padding: 15px;
    border-radius: 2px;
    font-size: 25px;
    /*text-align: center;*/


    /*height:50px;*/
    /*background-color: #ffffff;*/
    /*border-radius: 2px;*/
    /*padding: 15px;*/
    /*overflow: auto;*/
}

.row-in-popwindow{
    margin-top: 15px;
    padding: 0px 15px;
    overflow: auto;
    margin-bottom: 0px !important;
}

.add-track-modal{
    display: none;
}