.White{
    background-color: #fff !important;
    color: #474747;
}

.Red{
    background-color: rgb(255, 138, 128) !important;
    color: #474747;
}

.Orange{
    background-color: rgb(255, 209, 128) !important;
    color: #474747;
}

.Yellow{
    background-color: rgb(255, 255, 141) !important;
    color: #474747;
}

.Grey{
    background-color: rgb(207, 216, 220) !important;
    color: #474747;
}

.Blue{
    background-color: rgb(128, 216, 255) !important;
    color: #474747;
}

.Teal{
    background-color: rgb(167, 255, 235) !important;
    color: #474747;
}

.Green{
    background-color: rgb(204, 255, 144) !important;
    color: #474747;
}