
body {
    font-family: 'Roboto Condensed', sans-serif;
}

.custom-row {
    margin: 0px;
    max-width: 100% !important;
}

.custom-columns {
    padding: 0px;
}

.back-drop-img {
    z-index: -10;
    height: 100%;
    width: 100%;
    padding-bottom: 7%;
    background-image: url('../../imgs/photos/clg-gate.png');
    background-repeat: no-repeat;
    position: fixed;
    background-size: 100% 100%
}

.back-button {
    cursor: pointer;
    margin-top: 11px;
    position: absolute;
    width: 30px;
    margin-left: 12px;
}

.nav-bar {
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    height: 70px;
    box-shadow: 3px 5px 13px -4px #9E9E9E;
    -webkit-box-shadow: 3px 5px 13px -4px #9E9E9E;
    -moz-box-shadow: 3px 5px 13px -4px #9E9E9E;
    -o-box-shadow: 3px 5px 13px -4px #9E9E9E;
}

.nav-bar-container {
    postion: absolute;
    background-color: #bcbcbc;
    height: 70px;
    width: 100px;
    z-index: 4;
    width: 100%
}

.nav-item {
    margin-top: 25px;
}

.nav-jnnce-logo {
    width: 100px;
}

.nav-CMT-logo {
    width: 320px;
}

.github-logo {
    text-align: right;
}

.nav-github-logo {

    margin-top: 16px;
    width: 118px;
}

.cmtLogo-nav-container {
    text-align: center;
}

