.nav-bar {
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    height: 70px;
    box-shadow: 3px 5px 13px -4px #9E9E9E;
    -webkit-box-shadow: 3px 5px 13px -4px #9E9E9E;
    -moz-box-shadow: 3px 5px 13px -4px #9E9E9E;
    -o-box-shadow: 3px 5px 13px -4px #9E9E9E;
}

.nav-bar-container{
    postion:absolute;
    background-color: #bcbcbc;
    height: 70px;
    width: 100px;
    z-index: 4;
    width: 100%
}
.nav-item {
    margin-top: 25px;
}

.nav-jnnce-logo {
    width: 100px;
}

.nav-CMT-logo {
    width: 320px;
}

.github-logo {
    text-align: right;
}

.nav-github-logo {

    margin-top: 16px;
    width: 118px;
}



