
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #f1f1f1;
}

.logout-btn{
    position: fixed;
    top: 90px;
    right: 20px;
    cursor: pointer;
    z-index: 20;
    width: 90px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 3px 2px 15px -4px #9E9E9E;
    -webkit-box-shadow: 3px 2px 15px -4px #9E9E9E;
    -moz-box-shadow: 3px 2px 15px -4px #9E9E9E;
    -o-box-shadow: 3px 2px 15px -4px #9E9E9E;
    transition: 0.25s ease-in-out;
    overflow: auto;

}
.logout-btn:hover{
    color: #00b0ff;
    width: 110px;
    box-shadow: 4px 10px 75px -14px #474739;
    /*-webkit-box-shadow: 4px 6px 35px -14px #474739;*/
    /*-moz-box-shadow: 4px 6px 35px -14px #474739;*/
    /*-o-box-shadow: 4px 6px 35px -14px #474739;*/
}
.custom-row {
    margin: 0px ;
    max-width: 100% !important;
}

.custom-columns {
    padding: 0px;

}

.back-drop-img {
    z-index: -10;
    height: 100%;
    width: 100%;
    padding-bottom: 7%;
    background-image: url('../../imgs/photos/clg-gate.png');
    background-repeat: no-repeat;
    position: fixed;
    background-size: 100% 100%
}

.back-button {
    cursor: pointer;
    margin-top: 11px;
    position: absolute;
    width: 30px;
    margin-left: 12px;
}

.nav-bar {
    position: fixed;
    z-index: 2;
    background-color: #fff;
    width: 100%;
    height: 70px;
    box-shadow: 3px 2px 15px -4px #9E9E9E;
    -webkit-box-shadow: 3px 2px 15px -4px #9E9E9E;
    -moz-box-shadow: 3px 2px 15px -4px #9E9E9E;
    -o-box-shadow: 3px 2px 15px -4px #9E9E9E;
}

.nav-bar-container {
    postion: absolute;
    background-color: #bcbcbc;
    height: 70px;
    width: 100px;
    z-index: 4;
    width: 100%
}

.nav-item {
    margin-top: 25px;
}

.nav-jnnce-logo {
    width: 100px;
}

.nav-CMT-logo {
    width: 320px;
}

.github-logo {
    text-align: right;
}

.nav-github-logo {

    margin-top: 16px;
    width: 118px;
}

.cmtLogo-nav-container {
    text-align: center;
}
.material-icon-text{
    vertical-align: middle;
}

.custom-modal-overlay{
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
}

.label-icon {
    font-size: 30px;
    vertical-align: middle;
}

.modal-close-button{
    cursor: pointer;
    display:block;
    position:absolute;
    top:7px;
    right:7px;
    font-size: 35px;
    color:#474747;
    text-align: right;
}